#about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    /* border: 1px solid red; */
    margin-top: 500px;
}

.about__container {
   border-radius:  30% 70% 70% 30% / 30% 30% 70% 70% ;
   /* background-image: linear-gradient(45deg, #3023AE 0%, #FF0099 100%); */
display: flex;
justify-content: center;

img{
    width: 200px;
    background-image: linear-gradient(45deg, #3023AE 0%, #FF0099 100%);
    border-radius:  30% 70% 70% 30% / 30% 30% 70% 70% ;
}
}
.about__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.about__me {
    width: 90%;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1.1/1;
    border-radius: 2rem;
    display: grid;
    place-items: center;
}

.about__me-image {
    border-radius: 2rem;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    /* border: 1px solid red; */
    padding: 10px;
}

.about__card {
    background: #2C2C6C;
    border: 1px solid ;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}

.about__card:hover {
    background: transparent;
    cursor: default;
}

.about__icon {
    color: #D167DF;
    font-size: 2.1rem;
    margin-bottom: 1rem; 
}

.about__card h5 {
    font-size: 0.99rem;
}

.about__card small {
    font-size: 0.7rem;
    color: #4DAEF5;
}

.about__content p {
    margin: 2rem 0 2.6rem;
    color: grey;
    
}

/* media queries */
/* mobile devices */
@media screen and (max-width: 600px){
    .about__me {
        width: 65%;
        margin: 0 auto 3rem;
    }

    .about__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .about__content {
        text-align: center;
    }

    .about__content p {
        margin: 1.5rem 0;
    }
}

/* medium sized devices */
@media screen and (max-width: 1024px){
    .about__container {
       display: flex;
       flex-direction: column;
    }
    .about__me {
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about_content p {
        margin: 1rem 0 1.5rem;
    }
}



